<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="headline (txt)">
		<div class="container">
		</div>
	</div>

	<div th:fragment="nav (all)">
		<div class="container">
			<nav class="navbar navbar-expand-md navbar-light bg-light">
				<a class="navbar-brand p-1 mr-5">GradleCalculator</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#thenavbarDefault" aria-controls="thenavbarDefault"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
	</div>

</body>

</html>

