<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8">
   <head th:include="fragments/header :: head">
</head>

<body>
	<h1 style="text-align: center;">Notenverwaltung</h1>

	<div class="container">
		<h5>Trage deine Noten ein</h5>
		<table th:if="${listAllGrades != null}"
			class="table table-hover table-bordered table-fixed">
			<thead>
				<tr>
					<th scope="col">Modul &nbsp; <i
						class="fas fa-arrow-circle-right"></i>
					</th>
					<th scope="col">Note &nbsp;<i class="fas fa-arrow-circle-left"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="grade : ${listAllGrades}">
				<td class="word-wrap" th:text="${grade.lecture}"></td>
				<td class="word-wrap" th:text="${grade.grade}"></td>
				</tr>
			</tbody>
		</table>
		<h5>Dein Notendurchschnitt: 
		<span th:if="${average != null}" th:text="${average}"></span>
		</h5> <br>
		<h5>Deine Note:</h5>
		<form th:action="@{/add(lecture=${lecture},grade=${grade}) }"
			method="post">
			<input class="form-control" type="text" name="gcontent" minlength="1"
				maxlength="255">
				<br>
				<h5>Dein Modul:</h5> 
				<input class="form-control" type="text" name="lcontent" minlength="1"
				maxlength="255">
				 <br> <input type="submit"
				class="btn btn-outline-primary btn-sm" value="Note eintragen">
		</form>
	</div>
	<br>
	<div th:include="fragments/footer :: footer"></div>
</body>
</html>